@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.img-fluid {
  height: auto;
  width: 100%;
}
@keyframes round {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 0 50px 0 150px;
  height: 120px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  .navLeft {
    display: flex;
    background-color: transparent;
    flex: 1;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    p {
      color: white;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 2px;
    }
    img {
      transition: all 2s ease-in-out;
    }
    img:hover {
      animation: round 2s linear infinite;
    }
  }
  .navRight {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;

    .line {
      color: white;
      font-size: 50px;
      transition: all 3s ease-in-out;
    }
  }
}
@media (max-width: 762px) {
  nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .navLeft img {
    width: 60px;
  }
  .navRight .line {
    font-size: 18px;
  }
}
