.portfolio {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 150px 0;
  overflow-x: hidden;
}
.arrow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: all 0.3s ease-in-out;
  .icon {
    font-size: 30px;
  }
}
.arrow:hover {
  color: rgb(0, 195, 255);
  transform: translateY(-5px);
}
@media (max-width: 768px) {
  .arrow {
    height: 30px;
    width: 30px;
    bottom: 15px;
    right: 15px;
    .icon {
      font-size: 20px;
    }
  }
}
